@import "../../../styles/settings.scss";

.root {

  :global(.container) > :global(.row) {
    background-color: $header-bg;
    height: 215px;
  }

  .phoneNumber {
    h1 {
      margin: 35px 0 0;
      font-size: 48px;
      line-height: 64px;
      color: rgb(216, 216, 216);
      font-weight: 300;
    }

    p {
      margin: 0 0 35px;
      font-size: 24px;
      line-height: 42px;
      letter-spacing: 9px;
      color: rgb(216, 216, 216);
      font-weight: 300;
    }

    b {
      font-weight: 700;
    }

    span {
      color: $primary;
    };
  }

  .menu {
    display: block;
    background-color: #636262;

    a {
      color: rgb(216, 216, 216);
      padding: 0 6px;
      font-size: 12px;
      line-height: 40px;

      &:hover {
        color: $primary;
        font-weight: 600;
        text-decoration: none;
      }
    }

  }

  .formWrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 55px;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 5px;
      background-color: $primary;
      top: 50px;
    }

    form {
      margin: 10px 5px;
    }

    .sort {
      font-size: 15px;
      font-weight: 500;
    }

    select {
      padding: 5px;
      margin-left: 10px;
    }
  }


}
