@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  transition:all $transition-time ease;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }

  &:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    background-color: $primary;
    color: #2a2a2a;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
  z-index: 1;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
  font-size: 13px;
  line-height: 22px;
  transition:all $transition-time ease;

  &:not(.noHover):hover {
    background-color: #2a2a2a;
    color: #ffffff;
  }

  &:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
    background-color: $primary;
    color: #2a2a2a;
  }

}

.active{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #2a2a2a;
  color: #ffffff;
  font-size: 13px;
  line-height: 22px;
  background-color: $primary;
}

.gallerySlider{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
  transition:all $transition-time ease;
  cursor: pointer;

  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

.gallery{
  display: inline-block;
  padding: 10px 30px;
  color: $white;
  border: 1px solid $gallery-color;
  border-radius: 5px;
  background-color: $gallery-color;
  font-size: 13px;
  line-height: 22px;
  cursor: pointer;
  transition:all $transition-time ease;
}
