@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $black-color;
  color: $white-color;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;
  transition:all $transition-time ease;

  &:not(.noHover):hover {
    background-color: $primary;
    color: $black-color;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
  z-index: 1;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $black-color;
  color: $black-color;
  font-size: 13px;
  line-height: 22px;
  transition:all $transition-time ease;

  &:not(.noHover):hover {
    background-color: $primary;
    color: $black-color;
  }

}

.active {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $black-color;
  color: $white-color;
  font-size: 13px;
  line-height: 22px;
  background-color: $primary;
}

.gallerySlider{
  display: inline-block;
  width: 36px;
  padding: 5px 10px;
  border: 1px solid $text-color;
  color: $text-color;
  font-size: 13px;
  line-height: 22px;
  transition:all $transition-time ease;
  cursor: pointer;

  &:hover {
    border-color: $primary;
    color: $primary;
  }
}

.gallery {
  display: inline-block;
  padding: 10px 30px;
  color: $white;
  border: 1px solid $gallery-color;
  border-radius: 5px;
  background-color: $gallery-color;
  font-size: 13px;
  line-height: 22px;
  
  &:hover{
    text-decoration: none;
  }
}

.galleryArrow {
  @extend .main;
  padding: 0;
  height: 100%;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
