@import "../../../styles/settings.scss";

.root {
  background-color: $header-bg;

  :global(.container) > :global(.row) {
    height: 145px;
  }

  .phoneNumberOnMobiles {
    display: none;
  }

  .phoneNumber {
    p {
      margin: 0;
      font-size: 17px;
      line-height: 42px;
      color: rgb(216, 216, 216);
      font-weight: 500;

      .icon {
        font-size: 32px;
        color: $primary;
        vertical-align: middle;
        margin-top: -3px;
        margin-right: 0.8rem;
      }
    }
  }

  .cart {
    .cartBox {
      display: inline-block;
      position: relative;
      color: #ffffff;
      margin-top: -28px;

      .cartIcon {
        background-color: $primary;
        width: 55px;
        height: 50px;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;

        .icon {
          margin-right: 5px;
        }
      }

      .cartCounter {
        width: 28px;
        height: 27px;
        border-radius: 14px;
        background-color: $header-bg;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 14px;
        color: rgb(224, 227, 237);
        position: absolute;
        top: 50%;
        right: 0;
        padding-left: 9px;
        transform: translate(50%, -50%);
      }

      &:hover {
        .cartIcon {
          background-color: lighten($primary, 10%);
        }
      }
    }
  }
}

@media (max-width: 767px) {

  .root {

    .phoneNumber {
      display: none;
    }

    .phoneNumberOnMobiles {
      display: block;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 42px;
        color: rgb(216, 216, 216);
        font-weight: 500;
  
        .icon {
          font-size: 32px;
          color: $primary;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
        }
      }
    }

    .cart {
      .cartBox {
        margin: 20px 8px 0 0;
      }
    }
  }
}
