@import "../../../styles/settings.scss";


.root {
  background-color: $primary-background-color;

  .imageWrapper {
    position: relative;
    width: 100%;
    height: 600px;

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 60%;
      padding: 40px 30px 0px;
      background-color: rgba(0, 0, 0, 0.2);


      div {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        //margin-bottom: 0;

        h6 {
          color: $text-color;
          text-transform: uppercase;
          padding-bottom: 5px;
          font-weight: 500;
        }  

        h1 {
          color: $gallery-color;
          font-weight: 600;
          padding-left: 10px;          //vertical-align: bottom;
        }
      }

      h1 {
        color: $primary;
        font-weight: 600;
        letter-spacing: 2px;
      }
    }
  }
}